{{ define "content"}}
{{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Title" "ne" "About") (index .Site.Params "archive-paginate" | default 10) }}

<section id="archive" class="archive">
  {{ range $paginator.Pages }}
    <div class="archive-post">
      <time datetime="{{ .Date.Format "2006-01-02" }}" class="archive-post-time">
        {{ .Date | time.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </time>
      <span class="archive-post-title">
        <a href="{{ .RelPermalink }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span>
    </div>
  {{ end }}
</section>

{{ partial "pagination.html" . }}
{{end}}