{{ define "content" }}
<section id="posts" class="posts">
  <div class="content-wrapper">
    <div id="content" class="content">
      <article class="post">
      <div class="post-content">
        <h1>文章分类</h1>
        <ul>
          {{ range .Site.Taxonomies.categories }}
            {{ if ne .Page.Title "年度总结"}}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </article>
  </div>
</div>
</section>
{{ end }}
